---

---

<div class="flex flex-col h-[90vh] md:h-4/6 container mx-auto p-6 pb-0 max-w-7xl md:flex-row md:items-center">
    <div class="flex flex-col gap-4 items-center md:items-start mt-12 md:mt-2 md:flex-1">
        <h1 class="text-3xl font-semibold text-center md:text-left md:text-4xl lg:text-5xl">Progettazione e creazione di siti web moderni e veloci</h1>
        <p class="text-center text-sm text-slate-500 md:text-left md:text-base lg:text-lg">Realizzo sia siti wordpress che siti web con framework più recenti quali next js ed astro, specialmente quest’ultimo.</p>
        <div class="flex flex-col md:flex-row gap-1 mt-4 items-center justify-center md:justify-start md:items-start">
            <button class="bg-slate-950 text-white p-4 rounded-xl w-fit text-sm md:text-sm lg:text-base">Parlami del tuo progetto</button>
            <button class="p-4 rounded-xl w-fit text-sm text-center md:text-sm lg:text-base">Segui il mio blog</button>
        </div>
    </div>
    <div class="w-full img-container flex-1">
        <img src="/mockup.png" class="img-mockup"/>
        <img src="/bg_blur.png" class="img-bg-blur"/>
    </div>
</div>


<style>
    .img-container{
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-container .img-mockup{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        transform: rotate(10deg);
        z-index: 2;
        scale: 1.8;
    }

    .img-container .img-bg-blur{
        transform: rotate(-25deg);
    }
</style>