---

---

<div class="w-screen py-4 bg-[#313030]">
    <div class="container mx-auto p-6 max-w-7xl flex flex-col gap-1">
        <h4 class="text-[#7B7B7B] font-semibold">Ciao, sono omar</h4>
        <h2 class="text-white font-semibold text-lg">Sviluppatore Web e Designer attualmente situato a Milano.</h2>
        <p class="text-gray-400 text-sm">Aiuto aziende e privati a progettare e a realizzare il loro prossimo sito web con lo scopo di migliorare la propria immagine online e convertire più visitatori in clienti. </p>
    </div>
</div>