---
import '../styles/global.css';
import {Image, Picture} from '@astrojs/image/components';
import MainLayout from "./MainLayout.astro";
const {frontmatter: {title, description, date, category, author, image}} = Astro.props;

---

<MainLayout title={title}>
    <!-- <h2 class="text-red-500">{title}</h2> -->
    <header>
        <div class="container">
            <Image src={image.src} alt="" width="1200" height="600" format="avif" />
        </div>
    </header>
    <div class="post-content">
        <div class="content"><slot /></div>
        <div class="sidebar"></div>
    </div>
</MainLayout>